* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #F7F7F7;
}

li {
    list-style: none;
    white-space: nowrap;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    width: 1440px;
}

.header {
    background-color: #02160b;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

.header__logo {
    display: inline-block;
    padding-top: 19px;
    padding-left: 120px;
    width: 240px;
}

.header__logo:hover {
    filter: invert(48%) sepia(72%) saturate(627%) hue-rotate(339deg) brightness(83%) contrast(92%);
}

.heading {
    display: inline-block;
    position: absolute;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 60px;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu_block {
    display: inline-block;
    position: absolute;
    padding-top: 25px;
    margin-left: 480px;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    font-size: 23px;
}

.header__menu_blog:hover,
.header__menu_contacts:hover,
.header__menu_icon:hover {
    color: #CD6326;
    border-bottom: 3px solid #CD6326;
}

.header__menu_icon {
    display: block;
    background-image: url(./assets/search.svg);
    width: 32px;
    height: 32px;
}

.header__menu_icon:hover {
    filter: invert(48%) sepia(72%) saturate(627%) hue-rotate(339deg) brightness(83%) contrast(92%);
}

.header__menu_button {
    display: inline-block;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    text-align: center;
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    border-radius: 5px;
}

.header__menu_button:hover {
    background: #CD6326;
}

.survival {
    background-color: #02160b;
    background-image: url(./assets/background.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.survival__content {
    padding-top: 115px;
    padding-left: 120px;
    padding-bottom: 240px;
    width: 274px;
}

.survival__heading {
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 72px;
    color: #CD6326;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.survival__article {
    padding-top: 51px;
    line-height: 27px;
    font-size: 18px;
    color: #F7F7F7;
}

.survival__button {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 49px;
    padding-top: 16px;
    width: 160px;
    height: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    background: #CD6326;
    border-radius: 5px;
}

.survival__button:hover {
    background: #E39128;
}

.main {
    background: #CCCCCC;
}

.latest__articles {
    left: 558px;
    padding-top: 120px;
    text-align: center;
    color: #333333;
}

.latest__articles_heading {
    font-size: 48px;
    line-height: 72px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.latest__articles_text {
    font-size: 24px;
    line-height: 36px;
    padding-top: 20px;
    color: #666666;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    padding-top: 120px;
    padding-left: 120px;
    width: 1200px;
    height: 360px;
    justify-content: space-between;
    color: #F7F7F7;
}

.articles__link {
    text-align: center;
}

.articles__link:hover {
    color: #CD6326;
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -117px;
}

.articles__title {
    font-size: 22px;
    line-height: 36px;
}

.articles__name {
    padding-top: 10px;
    font-size: 17px;
    line-height: 27px;
}

.left_arrow {
    background-image: url(./assets/left-arrow.svg);
    width: 30px;
    height: 70px;
    margin-top: 145px;
}

.right_arrow {
    background-image: url(./assets/right-arrow.svg);
    width: 30px;
    height: 70px;
    margin-top: 145px;
}

.left_arrow:hover,
.right_arrow:hover {
    filter: invert(48%) sepia(72%) saturate(627%) hue-rotate(339deg) brightness(83%) contrast(92%);
}

.get__notified {
    display: flex;
    align-content: center;
    padding-top: 240px;
    padding-left: 470px;
}

.get__notified_heading {
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.get__notified_form {
    display: flex;
    padding-left: 390px;
    padding-top: 59px;
    padding-bottom: 240px;
    width: 660px;
}

.get__notified_input {
    align-items: center;
    width: 535px;
    height: 60px;
    border: 1px solid #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    padding-left: 15px;
    color: #666666;
    background-color: #CCCCCC;
    outline: none;
}

.get__notified_button {
    width: 120px;
    background: #CD6326;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #F7F7F7;
    cursor: pointer;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
}

.get__notified_button:hover {
    background: #E39128;
    border: 1px solid #E39128;
}

.footer {
    background-image: url(./assets/footer.jpg);
    background-color: #181617;
    background-repeat: no-repeat;
    background-position: top center;
}

.footer_conent {
    display: flex;
    padding-top: 130px;
    padding-bottom: 146px;
}

.footer__menu_block {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 120px;
}

.footer__menu {
    display: flex;
    justify-content: space-between;
    width: 475px;
}

.footer__menu__item {
    font-size: 23px;
}

.footer__menu_link:hover {
    color: #CD6326;
    border-bottom: 3px solid #CD6326;
}

.social {
    display: flex;
    justify-content: space-between;
    padding-left: 125px;
    width: 240px;
}

.social__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.social__facebook {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./assets/facebook.svg);
    fill: currentColor;
}

.social__facebook:hover {
    background-image: url(./assets/facebook_hover.svg);
}

.social__instagram {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./assets/instagram.svg);
}

.social__instagram:hover {
    background-image: url(./assets/instagram_hover.svg);
}

.social__pinterest {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./assets/pinterest.svg);
}

.social__pinterest:hover {
    background-image: url(./assets/pinterest_hover.svg);
}

.social__telegram {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(./assets/telegram.svg);
}

.social__telegram:hover {
    background-image: url(./assets/telegram_hover.svg);
}