* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #F7F7F7;
}

li {
    list-style: none;
    white-space: nowrap;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    background-color: #02160b;
}

.container {
    margin: 0 auto;
    width: 1440px;
    background-image: url(./assets/background.svg);
}

.header {
    margin: 0 auto;
    width: 1200px;
}

.header__logo {
    display: flex;
    align-content: space-between;
    padding-top: 20px;
    position: relative;
    width: 240px;
}

.logo {
    display: inline-block;
    position: absolute;
    width: 70px;
    height: 60px;
}

.heading {
    display: inline-block;
    position: absolute;
    width: 155px;
    left: 85px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 720px;
    margin-top: 12px;
    font-size: 23px;
}

.header__menu_icon {
    display: block;
    background-image: url(./assets/search.svg);
    width: 32px;
    height: 32px;
}

.header__menu_button {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
    width: 120px;
    height: 50px;
    border: 2px solid #CD6326;
    border-radius: 5px;
    margin: -2px;
}

.survival {
    padding-top: 120px;
    padding-left: 120px;
    padding-bottom: 240px;
    width: 274px;
}

.survival__heading {
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 72px;
    color: #CD6326;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.survival__article {
    padding-top: 51px;
    line-height: 27px;
    font-size: 18px;
    color: #F7F7F7;
}

.survival__button {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 49px;
    padding-top: 16px;
    width: 160px;
    height: 60px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    background: #CD6326;
    border-radius: 5px;
}

.main__wrapper {
    background-color: #CCCCCC;
}

.main {
    margin: 0 auto;
    width: 1440px;
    height: 1368px;
    background: #CCCCCC;
}

.latest__articles {
    left: 558px;
    padding-top: 120px;
    text-align: center;
    color: #333333;
}

.latest__articles_heading {
    font-size: 48px;
    line-height: 72px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.latest__articles_text {
    font-size: 24px;
    line-height: 36px;
    color: #666666;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    padding-top: 120px;
    padding-left: 120px;
    width: 1200px;
    height: 360px;
    justify-content: space-between;
    color: #F7F7F7;
}

.articles__link {
    text-align: center;
}

figcaption {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -113px;
}

.articles__title {
    font-size: 22px;
    line-height: 36px;
}

.articles__name {
    padding-top: 10px;
    font-size: 17px;
    line-height: 27px;
}

.left_arrow {
    background-image: url(./assets/left-arrow.svg);
    width: 30px;
    height: 70px;
    margin-top: 145px;
}

.right_arrow {
    background-image: url(./assets/right-arrow.svg);
    width: 30px;
    height: 70px;
    margin-top: 145px;
}